@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme{
  --font-title: 'Montserrat', sans-serif;
  --font-regular: 'Source Sans 3', sans-serif;
}

@layer components{
  h1, h2, h3, h4, h5, h6, h3 > span{
    font-family: var(--font-title);
  }

  p, span, a, label, input, button{
    font-family: var(--font-regular);
  }
}
